* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.links {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.footer {
    margin-top: auto;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    flex-grow: 1;
}

.info {
    flex-grow: 1;
}

.quote {
    flex-grow: 1;
}

.action-container {
    flex-grow: 1;
}